@layer theme {
    :root {
        --primary-color: #000000;
        --secondary-color: #ffffff;
        --background-color: #ffffff;
        --text-color: #000000;
        --btn-color: #000000;
        --btn-color-hover: #bababa;
        --text-color-btn: #ffffff;
    }
}